.navbar_sec {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    max-width: 950px;
    margin: auto;
}

.logo_img img {
    width: 83px;
    height: 83px;
    flex-shrink: 0;
    padding: 15px;
}

.menu_right_side {
    display: flex;
    padding: 15px;
}

.admin_img img {
    width: 17px;
    height: 18px;
}

.admin_img {
    display: flex;
    align-content: center;
    align-items: center;
}

.menu_img {
    display: flex;
    align-content: center;
    align-items: center;
}

.menu_img img {
    width: 40px;
    height: 40px;
    margin-right: 25px;
}


/*  */
/* Style for the hamburger button */
.hamburger-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

/* .ant-drawer-content-wrapper{
    background-image: url("../assets/images/banner.png");
    background-repeat: no-repeat;
  } */
/* Fullscreen drawer */
.fullscreen-drawer .ant-drawer-content {
    background-color: #000 !important;

}

.ant-drawer .ant-drawer-header {
    display: flex;
    flex: 0;
    align-items: end;
    padding: 16px 24px;
    font-size: 16px;
    line-height: 1.5;
    align-content: flex-end;
    flex-direction: column-reverse;
    color: white;
}

.ant-drawer .ant-drawer-close:hover {
    color: rgba(255, 255, 255, 0.986);
    background-color: rgba(0, 0, 0, 0.06);

    text-decoration: none;
}

.anticon {
    border: 1px solid white;
    border-radius: 30px;
    padding: 8px;
    color: white !important;
}

.ant-drawer-close {
    position: relative;
    left: 0px;
    background: rgb(212, 38, 67);
    border: 1px solid white;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    color: white;
}

.ant-drawer .ant-drawer-content {
    background-image:
        linear-gradient(90deg, rgba(9, 7, 3, 0.00) 3.02%, #090703 60.64%),
        url('../assets/images/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.fullscreen-drawer .ant-drawer-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
}

/* Menu items styling */
.ant-drawer-body ul li {
    text-align: center;
}

.ant-drawer-body ul li a {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--FormulaCondensed) !important;
    color: white;
    font-size: 50px;
    letter-spacing: 0.78px;
    text-transform: uppercase;
}

.menu-items .ant-menu-item {
    color: #000000;
    /* White text */
    font-size: 24px;
    padding: 20px 0;
}

.menu-items .ant-menu-item:hover {
    background-color: transparent;
    color: #ffc107;
    /* Highlighted text color */
}

.menu-items .ant-menu-item::after {
    border-bottom: none !important;
}

/* Custom styling for sign-in and create account */
.menu-items .ant-menu-item:last-child {
    margin-top: 20px;
    color: #ffc107;
    /* Yellow color for "Sign In" */
    font-weight: bold;
}

/*Primary Header Style...................  */

.header_banner {
    background: url('../assets/images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:  270px;
    width: 100%;

}
.inner_header_content{
   transform: translate(0%,40%);
   text-align: center;
}
